@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    --primary-25: #f6fefc;
    --primary-50: #f0fdf9;
    --primary-100: #ccfbef;
    --primary-200: #99f6e0;
    --primary-300: #5fe9d0;
    --primary-400: #2ed3b7;
    --primary-500: #15b79e;
    --primary-600: #11999e;
    --primary-700: #137065;
    --primary-800: #125d56;
    --primary-900: #134e48;

    --primary-25: #f2fec0;
    --primary-50: #eeffab;
    --primary-100: #e3fe79;
    --primary-200: #d4f64b;
    --primary-300: #c8f023;
    --primary-400: #b9e11b;
    --primary-500: #bee71b;
    --primary-600: #b3d81e;
    --primary-700: #9bbe11;
    --primary-800: #677e09;
    --primary-900: #526306;
  }

  .dark {
    --background: 224 71% 4%;

    --gray-50: #030712;
    --gray-100: #111827;
    --gray-200: #1f2937;
    --gray-300: #374151;
    --gray-400: #4b5563;
    --gray-500: #6b7280;
    --gray-600: #9ca3af;
    --gray-700: #d1d5db;
    --gray-800: #e5e7eb;
    --gray-900: #f3f4f6;
    --gray-950: #f9fafb;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
